.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1405px;
  margin: 0 auto;

  &__left {
    display: flex;
    gap: 66px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      gap: 46px;
      padding: 0;

      li {
        a {
          font-size: 14px;
          font-weight: 300;

          &.active {
            font-weight: 500;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              left: 0;
              right: 0;
              height: 1px;
              background: rgba(143, 33, 45, 1);
            }
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    gap: 68px;
    align-items: center;

    address {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 3px;

      a {
        display: flex;
        gap: 7px;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
      }

      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  &__callback {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
