.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1405px;
  margin: 0 auto;

  &__left {
    display: flex;
    gap: 66px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      gap: 46px;
      padding: 0;

      li {
        a {
          font-size: 14px;
          font-weight: 300;

          &.active {
            font-weight: 500;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              left: 0;
              right: 0;
              height: 1px;
              background: rgba(143, 33, 45, 1);
            }
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    gap: 68px;
    align-items: center;

    address {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 3px;

      a {
        display: flex;
        gap: 7px;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
      }

      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  &__callback {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__mobile-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;

    &__callback {
      display: none;
    }

    &__navigation {
      display: none;
    }

    &__right {
      gap: clamp(32px, 2vw, 68px);
      address {
        gap: 4px;

        a {
          font-size: 15px;
        }

        p {
          font-size: 12px;
          color: rgba(132, 132, 132, 1);
        }
      }
    }

    &__left {
      width: 47px;
      height: 47px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__burger {
      display: flex;
      width: 47px;
      height: 47px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: rgba(233, 231, 223, 1);
      border-radius: 50%;
      padding: 17px 11px;

      span {
        width: 24px;
        height: 2.1666667461395264px;
        background: rgba(0, 0, 0, 1);
        border-radius: 2px;
      }
    }

    &__mobile-menu {
      position: fixed;
      display: none;
      width: 100%;
      max-width: 334px;
      inset: 0;
      left: auto;
      background: rgba(143, 33, 45, 1);
      z-index: 99999999999999999;
      padding: 16px 31px 38px 20px;
      &.open {
        display: block;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        address {
          a {
            display: flex;
            gap: 8px;
            font-size: 15px;
            align-items: center;
          }

          p {
            font-size: 12px;
            text-align: right;
          }
        }

        .header__burger {
          background: none;

          span {
            background: white;
          }
        }
      }

      &__content {
        margin-top: 68px;

        .header__navigation {
          display: flex;
          justify-content: center;
          margin-bottom: 46px;

          ul {
            flex-direction: column;
            justify-content: center;

            li {
              text-align: center;
            }
          }
        }
      }

      &__footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 100%;
      }
    }
  }
}
