.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1405px;
  margin: 0 auto;

  &__left {
    display: flex;
    gap: 66px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      gap: 46px;
      padding: 0;

      li {
        a {
          font-size: 14px;
          font-weight: 300;

          &.active {
            font-weight: 500;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              left: 0;
              right: 0;
              height: 1px;
              background: rgba(143, 33, 45, 1);
            }
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    gap: 68px;
    align-items: center;

    address {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 3px;

      a {
        display: flex;
        gap: 7px;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
      }

      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  &__callback {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;

    &__callback {
      display: none;
    }

    &__navigation {
      display: none;
    }

    &__right {
      address {
        gap: 4px;

        a {
          font-size: 15px;
        }

        p {
          font-size: 12px;
          color: rgba(132, 132, 132, 1);
        }
      }
    }

    &__left {
      width: 47px;
      height: 47px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__burger {
      display: flex;
      width: 47px;
      height: 47px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: rgba(233, 231, 223, 1);
      border-radius: 50%;
      padding: 17px 11px;

      span {
        width: 24px;
        height: 2.1666667461395264px;
        background: rgba(0, 0, 0, 1);
        border-radius: 2px;
      }
    }
  }
}
