.about-cta {
  padding: 87px 46px;
  display: flex;
  justify-content: flex-start;
  background: url(/images/about-cta-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 240px;
  border-radius: 30px;
  overflow: hidden;

  &__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 66px;

      width: 40vw;
      max-width: 635px;
      aspect-ratio: 635 / 731;

      background-image: url("/images/about-cta-hero.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 572px;
    width: 100%;

    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 46px;
    }
  }

  &__header {
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-bottom: 68px;

    h2 {
      font-size: 68px;
      line-height: 76px;
      color: white;
    }
  }
}
