.about-cta {
  padding: 87px 46px;
  display: flex;
  justify-content: flex-start;
  background: url(/images/about-cta-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 240px;
  border-radius: 30px;
  overflow: hidden;

  &__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 66px;

      width: 40vw;
      max-width: 635px;
      aspect-ratio: 635 / 731;

      background-image: url("/images/about-cta-hero.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 572px;
    width: 100%;

    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 46px;
    }
  }

  &__header {
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-bottom: 68px;

    h2 {
      font-size: 68px;
      line-height: 76px;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .about-cta {
    padding: 60px 26px 289px;
    &__wrapper {
      padding: 0 20px;

      &::after {
        left: 50%;
        transform: translateX(-50%);
        width: 61vw;
      }
    }

    &__header {
      margin-bottom: 46px;
      h2 {
        font-size: 28px;
        line-height: 100%;
        text-align: center;
      }
    }

    &__text {
      font-size: 15px;
      text-align: center;
    }

    .btn {
      font-size: 15px;
    }
  }
}
