.PhoneInput {
  display: flex;
  align-items: center;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 15px;
  background: rgba(255, 255, 255, 1);
  padding-left: 28px;
}

.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  background: none;
  border: none;
  padding: 18px 22px;
  height: 28px;
  padding-left: 0;
  font-size: 18px;
  line-height: 20px;
  color: rgba(196, 196, 196, 1);
}
