.drainage-page {
  .advantages-in-numbers {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__container {
      display: flex;
      max-width: 1009px;
      width: 100%;
      justify-content: space-between;

      &__text {
        display: flex;
        flex-direction: column;
        gap: 14px;

        h3 {
          font-family: var(--font-balkara);
          font-size: 56px;
          font-weight: 400;
        }

        p {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .drainage-plot {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;

    &__content {
      display: flex;
      max-width: 1233px;
      width: 100%;
      gap: 5px;
      justify-content: space-between;

      &__right {
        display: flex;
        flex-direction: column;
        max-width: 711px;
        width: 100%;
        gap: 60px;

        &__line {
          flex: 1;
          display: flex;
          &--1 {
            justify-content: flex-start;
          }

          &--2 {
            justify-content: flex-end;
          }

          &__content {
            max-width: 440px;
            display: flex;
            flex-direction: column;
            gap: 16px;
          }
        }
      }
    }

    h2 {
      color: white;
      font-size: 86px;
      line-height: 100.73px;
    }

    p {
      font-size: 20.15px;
    }

    &--dec {
      position: absolute;
      left: 100%;
      transform: translateX(-100%);
    }
  }

  .drainage-without {
    margin-top: 278px;
    &__line {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 26px;

      &--1 {
        align-items: stretch;
      }

      &--2 {
        display: grid;
        grid-template-columns: 0.9fr 1fr 1.1fr;
      }

      &--3 {
        display: grid;
        grid-template-columns: 1.1fr 1fr 0.9fr;
      }

      &--image {
        height: auto;

        img {
          height: 100%;
        }
      }
    }

    &__item {
      display: flex;
      padding: 32px 46px;
      align-items: center;
      justify-content: center;
      background: rgba(237, 231, 217, 1);
      border-radius: 20px;
      height: -webkit-fill-available;
      color: rgba(0, 0, 0, 1);

      &--without-bg {
        background: transparent;
        color: white;
        position: relative;
        &::after {
          content: url("/icons/corn-right.svg");
          position: absolute;
          top: 0;
          right: 0;
        }
        &::before {
          position: absolute;
          content: url("/icons/corn-left.svg");
          bottom: 0;
          left: 0;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
        width: 100%;
        justify-content: center;
        height: 100%;

        &::after {
          position: absolute;
          top: -20px;
          right: -25px;
          font-size: 55px;
          font-family: var(--font-balkara);
        }

        &--1 {
          &::after {
            content: "1";
          }
        }
        &--2 {
          &::after {
            content: "2";
          }
        }
        &--3 {
          &::after {
            content: "3";
          }
        }
        &--4 {
          &::after {
            content: "4";
          }
        }
        &--5 {
          &::after {
            content: "5";
          }
        }
        &--6 {
          &::after {
            content: "6";
          }
        }
      }

      &--title {
        font-size: 20px;
        font-weight: 700;
      }

      &--description {
        font-size: 15px;
        font-weight: 300;
      }

      &--images {
        margin-top: 4px;
        display: flex;
        gap: 14px;
      }
    }
  }

  .drainage-deal {
    padding: 100px 230px;
    display: flex;
    justify-content: flex-end;
    background: rgba(143, 33, 45, 1);
    margin-top: 120px;
    position: relative;

    &--dec {
      position: absolute;
      right: 100%;
      transform: translateX(100%);

      &--mobile {
        display: none;
      }
    }

    &__content {
      max-width: 768px;

      h3 {
        font-family: var(--font-balkara);
        color: rgba(225, 208, 168, 1);
        font-size: 120px;
        font-weight: 400;

        div {
          color: rgba(255, 255, 255, 1);
          font-size: 60px;
          text-align: right;
          margin-top: 14px;
        }
      }

      p {
        font-size: 22px;
        font-weight: 300;
        margin-top: 60px;
      }
    }

    &::after {
      content: "";
      inset: 0;
      background: url("/images/bg_container.png");
      position: absolute;
      pointer-events: none;
    }
  }

  .drainage-materials {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 120px;

    &__first-line {
      display: flex;
      justify-content: space-between;

      &__left {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 60px;

        h2 {
          color: white;
          font-size: 80px;
          line-height: 100%;
        }

        &--description {
          padding-top: 17px;
          padding-left: 27px;
          position: relative;
          &::after {
            content: url("/icons/corn-left-top.svg");
            position: absolute;
            top: 0;
            left: 0;
          }
          p {
            font-size: 16px;
            font-weight: 300;
          }
        }
      }

      &__right {
        display: flex;
        gap: 16px;
      }
    }

    &__second-line {
      display: flex;
      gap: 16px;
      height: 396px;
    }

    &__item-wrapper {
      height: 100%;

      &--with-dec {
        height: 70%;
      }
    }

    &__item {
      height: 100%;
      width: 100%;
      border-radius: 20px;
      background: rgba(237, 231, 217, 1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      gap: 16px;
      justify-content: center;
      color: rgba(15, 15, 15, 1);
      padding-left: 46px;

      &--accent {
        color: white;
        background: rgba(143, 33, 45, 1);
        position: relative;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        &::after {
          content: "";
          inset: 0;
          background: url("/images/bg_container.png");
          position: absolute;
          pointer-events: none;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      &--bg-dec {
        position: relative;

        &::after {
          content: "";
          inset: 0;
          background: url("/images/bg-transition.png");
          position: absolute;
          pointer-events: none;
          background-position: bottom;
          background-repeat: no-repeat;
        }
      }

      &--title {
        font-family: var(--font-balkara);
        font-size: 36px;
      }

      &--description {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .drainage-why-us {
    display: flex;
    flex-direction: column;

    margin-top: 180px;

    &--dec-image {
      margin-top: -200px;
    }

    &__header {
      display: flex;
      justify-content: space-between;

      h2 {
        color: white;
        font-size: 66px;
        line-height: 65px;
      }

      &__description {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        p {
          font-size: 16px;
          text-align: center;
        }

        .big {
          font-family: var(--font-balkara);
          font-size: 100px;
        }
      }
    }

    &__content {
      margin-top: -620px;
      display: grid;
      grid-template-columns: 1.1fr 0.9fr 1fr;
      height: 410px;
      gap: 24px;
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &--1 {
        align-items: flex-end;
        justify-content: flex-end;
      }

      &--2 {
        justify-content: center;

        .drainage-without__item--images {
          img {
            flex: 1;
          }
        }
      }
      &--3 {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 36px 26px;
      background: rgba(237, 231, 217, 1);
      color: rgba(0, 0, 0, 1);
      border-radius: 20px;

      &--title {
        font-size: 20px;
        line-height: 26px;
      }

      &--description {
        font-size: 15px;
        font-weight: 300;
      }

      &--1,
      &--5 {
        background: rgba(143, 33, 45, 1);
        color: rgba(255, 255, 255, 1);
      }

      &--3 {
        box-shadow: 0px 4px 20px 0px rgba(7, 5, 24, 0.05);
        backdrop-filter: blur(9.832073211669922px);
      }
      &--1 {
        max-width: 85%;
        position: relative;

        &::after {
          content: url("/images/dec-lock.png");
          position: absolute;
          top: 31px;
          right: 20px;
        }

        .drainage-why-us__block--title {
          max-width: 50%;
        }
      }

      &--2 {
        max-width: 75%;
        position: relative;

        &::after {
          content: url("/images/dec-horse.png");
          position: absolute;
          right: 0;
          bottom: 0;
        }

        .drainage-why-us__block--title {
          max-width: 60%;
        }
        .drainage-why-us__block--description {
          max-width: 60%;
        }
      }

      &--4 {
        max-width: 83%;
        position: relative;

        .drainage-why-us__block--title {
          max-width: 60%;
        }
        .drainage-why-us__block--description {
          max-width: 60%;
        }

        &::after {
          content: url("/images/dec-paper.png");
          position: absolute;
          top: 31px;
          right: -20px;
        }
      }
      &--5 {
        max-width: 70%;
      }
    }
  }

  .drainage-how-we-work {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 120px;
    position: relative;

    h2 {
      font-size: 80px;
      color: white;
      line-height: 100%;
    }

    &__content {
      display: flex;
      gap: clamp(10px, 70px, 70px);
      z-index: 2;
    }

    &__block {
      display: flex;
      align-items: center;
      gap: clamp(10px, 26px, 26px);

      &--number {
        font-family: var(--font-balkara);
        font-size: 75px;
      }

      &__header {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &--title {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
      }

      &--description {
        font-size: 16px;
        font-weight: 300;
      }

      &--accent {
        background: rgba(143, 33, 45, 1);
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        &::after {
          content: "";
          inset: 0;
          background: url("/images/bg_container.png");
          position: absolute;
          pointer-events: none;
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 46px;
          padding-right: 92px;
          position: relative;
          height: 100%;
          justify-content: center;
          gap: 48px;
          overflow: hidden;

          &__header {
            display: flex;
            flex-direction: column;
            gap: 12px;
          }

          &::after {
            content: "1";
            position: absolute;
            top: 36px;
            right: 36px;
            font-size: 55px;
            font-family: var(--font-balkara);
          }

          &::before {
            content: url("/images/dec-phone.png");
            position: absolute;
            right: -2px;
            bottom: -7px;
          }
        }

        &--title {
          font-size: 26px;
          font-weight: 700;
        }

        &--description {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    &__wrapper-blocks {
      display: flex;
      gap: clamp(10px, 163px, 163px);
    }

    &__column {
      max-width: 311px;
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 663px;
      height: 763px;
      right: 0;
      background: rgba(143, 33, 45, 1);
      border-radius: 50%;
      opacity: 0.5;
      filter: blur(500px);
      z-index: 0;
    }
  }

  .drainage-reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;

    &__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 140px;

      h2 {
        color: rgba(255, 255, 255, 1);
        font-size: 66px;
        line-height: 100%;
        height: 100%;
      }
    }

    &--dec {
      position: absolute;
      left: 100%;
      transform: translateX(-100%);
    }

    video {
      height: auto;
      border-radius: 20px;
      max-width: 404px;
    }
  }

  .drainage-faq {
    display: flex;
    gap: clamp(10px, 196px, 196px);
    flex-direction: row-reverse;
    margin-top: 120px;
    justify-content: space-around;

    &__header {
      display: flex;
      flex-direction: column;
      gap: 43px;
      align-items: flex-start;
      justify-content: center;
      max-width: 570px;

      &__text {
        display: flex;
        flex-direction: column;
        gap: 68px;

        h2 {
          font-size: 56px;
          line-height: 100%;
          color: rgba(255, 255, 255, 1);
        }

        p {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    .faq {
      display: flex;
      gap: 112px;
      width: 100%;

      &_right {
        flex: 1;
        max-width: 593px;
      }

      &__item {
        background: transparent;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba(40, 39, 38, 1);
        &--question {
          font-size: 20px;
          font-weight: 600;
          flex: 1;
        }

        .faq__chev {
          transition: transform 0.6s;
        }

        &[open] {
          .faq {
            &__content {
              max-height: 1000px;
            }

            &__chev {
              transform: rotate(540deg);
            }
          }
        }
      }
      &__summary {
        display: flex;
        justify-content: flex-start;
        padding: 30px 0;
        cursor: pointer;
        align-items: center;
        gap: 74px;

        &::-webkit-details-marker {
          display: none;
        }
      }
      &__content {
        max-height: 0;
        overflow: hidden;
        animation: open 0.6s ease;
        color: rgba(184, 184, 184, 1);
        font-size: 15px;
        max-width: 410px;
      }

      .mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .drainage-page {
    .drainage-plot {
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      &__content {
        flex-direction: column;

        &__left {
          img {
            width: 100%;
            height: auto;
          }
        }

        &__right {
          &__line {
            &--2 {
              justify-content: normal;

              .drainage-plot__content__right__line__content {
                align-items: flex-end;
              }
              .drainage-plot__content__right__line--image {
                max-width: 261px;
                width: 100%;
              }

              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      h2 {
        font-size: 56px;
        line-height: 62px;
      }

      p {
        font-size: 15px;
        line-height: 100%;
        max-width: 63%;
      }

      &--dec {
        top: 55%;
        img {
          width: 90px;
          height: auto;
        }
      }
    }

    .drainage-without {
      // margin-top: 46px;

      &__line {
        padding-right: 20px;
        padding-left: 20px;
        flex-direction: column;
        display: flex;

        &--1 {
          padding-left: 0;
          padding-right: 0;
        }

        &--image {
          padding-right: 20px;
          padding-left: 20px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      &__item {
        padding: 45px 28px;
        width: 100%;

        &__content {
          &::after {
            right: 0;
          }
        }

        &--images {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .drainage-deal {
      padding: 46px 34px;
      padding-bottom: 300px;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      &--dec {
        display: none;
        &--mobile {
          display: block;
          bottom: -10px;
          left: 0;
          right: 0;
          transform: none;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      &__content {
        width: 100%;

        h3 {
          font-size: 48px;
          text-align: center;
          div {
            font-size: 36px;
            text-align: center;
            margin-top: 4px;
          }
        }

        p {
          font-size: 15px;
        }
      }
    }

    .drainage-materials {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 46px;
      &__first-line {
        flex-direction: column;

        &__left {
          gap: 14px;
          h2 {
            font-size: 48px;
          }

          &--description {
            padding: 0;
            &::after {
              content: none;
            }
          }
        }

        &__right {
          margin-top: 25px;
          &--image {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      &__second-line {
        flex-direction: column;
        height: auto;
      }

      &__item {
        &--accent {
          padding: 46px 59px 46px 28px;
          position: relative;
          overflow: hidden;

          img {
            display: none;
          }

          .drainage-materials__item--description {
            max-width: 200px;
          }

          &::after {
            content: url("/images/shield34.png");
            position: absolute;
            right: 0;
            bottom: -10px;
            top: auto;
            left: auto;
          }
        }

        &--bg-dec {
          padding: 46px 35px;
        }

        &--title {
          font-size: 28px;
        }

        &--description {
          font-size: 15px;
        }
      }

      &__item-wrapper {
        &--with-dec {
          height: 100%;

          .drainage-materials__item {
            padding: 46px 35px;
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .drainage-why-us {
      padding-right: 20px;
      padding-left: 20px;
      overflow: hidden;
      &__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 150px;

        h2 {
          font-size: 48px;
          line-height: 100%;
        }

        &__description {
          z-index: 2;
        }
      }
      &__content {
        grid-template-columns: 1fr;
        margin-top: 0;
        height: auto;
      }

      &--dec-image {
        margin-top: -380px;
        width: 150%;
        height: auto;
      }

      &__block {
        max-width: 100% !important;
      }
    }

    .drainage-quiz {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      gap: 36px;

      &__left {
        gap: 46px;
        &__text {
          gap: 16px;
          h2 {
            font-size: 48px;
            line-height: 100%;
          }

          p {
            font-size: 28px;
            line-height: 100%;
          }
        }

        &__cta {
          font-size: 18px;
        }
      }

      &__header {
        padding-left: 28px;

        p {
          text-align: left;
        }
      }

      &__content {
        padding: 20px 28px;
      }

      &__question {
        font-size: 16px;
      }
    }

    .drainage-how-we-work {
      padding-right: 20px;
      padding-left: 20px;
      gap: 36px;
      h2 {
        font-size: 48px;
        line-height: 100%;
      }

      &__content {
        flex-direction: column;
        gap: 28px;
      }

      &__wrapper-blocks {
        flex-direction: column;
        gap: 28px;
      }

      &__block {
        &--accent {
          &__content {
            padding: 40px 30px;
          }
        }
      }
    }

    .drainage-reviews {
      margin-top: 46px;
      padding-right: 20px;
      padding-left: 20px;

      &__text {
        flex-direction: column;
        gap: 36px;

        &--description {
          width: 100%;

          video {
            width: 100%;
            height: auto;
            border-radius: 20px;
          }
        }
      }

      &--dec {
        display: none;
      }
    }

    .advantages-in-numbers {
      padding-left: 20px;
      padding-right: 20px;
      &__container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* две колонки */
        gap: 20px;
        row-gap: 44px;
        position: relative;

        img {
          position: absolute;
          left: -100px;
          top: 50%;
        }

        &__text {
          grid-column: 2 / 6;
          &--mobile {
            grid-column: 1 / -1;
            grid-row: 1;
          }

          h3 {
            font-size: 56px;
            line-height: 100%;
          }

          p {
            font-size: 16px;
            line-height: 100%;
          }
        }
      }
    }

    .about-cta {
      margin-top: 46px;
    }

    .drainage-faq {
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 46px;
      gap: 49px;
      &__header {
        &__text {
          h2 {
            font-size: 48px;
            line-height: 100%;
          }

          p {
            display: none;
          }
        }

        .btn {
          display: none;
        }
      }

      .faq__item--question {
        font-size: 18px;
      }
    }
  }
}
