.btn {
  font-family: var(--font-balkara);
  font-size: 18px;
  line-height: 100%;
  color: rgba(143, 33, 45, 1);
  background: rgba(255, 255, 255, 1);
  padding: 26px 32px;
  border-radius: 100px;

  &--black {
    color: rgba(0, 0, 0, 1);
    background: rgba(237, 231, 217, 1);
  }

  &--header {
    padding: 16px 32px;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      inset: 0;
      pointer-events: none;
      background-image: url("/images/btn-bg.png");
    }
  }
}
