.about {
  margin-top: 64px;
}

.about-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__right {
    max-width: 717px;

    h1 {
      margin-bottom: 46px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-size: 22px;
      font-weight: 300;
    }

    &--decor {
      display: flex;
      gap: 26px;
      margin-top: 31px;
    }
  }

  &__image {
    position: relative;

    &__text {
      position: absolute;
      left: 46px;
      bottom: 36px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      &--title {
        font-weight: 700;
        font-size: 22px;
      }

      &--description {
        font-weight: 300;
        font-size: 15px;
      }
    }
  }
}

.about-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 100px;

  &__item {
    display: flex;
    background: rgba(237, 231, 217, 1);
    color: rgba(15, 15, 15, 1);
    flex-direction: column;
    gap: 16px;
    padding: 100px 96px 100px 45px;
    border-radius: 20px;

    &--title {
      font-family: var(--font-balkara);
      font-size: 36px;
    }

    &--descriprion {
      font-size: 16px;
    }

    &--accent {
      color: rgba(255, 255, 255, 1);
      background: url("/images/about-item-dec.webp");
      background-size: cover;
    }
  }
}

.about-projects {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    h2 {
      color: rgba(255, 255, 255, 1);
      font-size: 22px;
      font-weight: 300;
      font-family: var(--font-manrope);
      display: flex;
      flex-direction: column;
      gap: 60px;

      .h2-dec {
        color: rgba(225, 208, 168, 1);
        font-size: 220px;
        line-height: 186px;
        font-weight: 400;
        font-family: var(--font-balkara);
      }
    }
  }

  .vertical_separator {
    height: 60%;
    width: 3px;
    background: white;
  }

  &--dec {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
  }

  &__info-item {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;

    &--title {
      font-family: var(--font-balkara);
      font-size: 96px;
      line-height: 102px;
    }

    &--description {
      font-size: 15px;
      font-weight: 300;
    }
  }
}


