html {
  background: rgba(10, 10, 10, 1);
}

body {
  background: rgba(10, 10, 10, 1);
  padding: 11px 0 0 0;
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-manrope);
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-balkara);
  font-size: 62px;
  line-height: 68px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: var(--font-balkara);
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: rgba(225, 208, 168, 1);
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

div {
  box-sizing: border-box;
}
