@use "./globals.scss" as *;

.drainage {
  padding: 87px 41px;
  display: flex;
  justify-content: flex-end;
  background: url(/images/drainage-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 86px;
  border-radius: 30px;
  overflow: hidden;

  &__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 66px;

      width: 40vw; // адаптивно от ширины экрана
      max-width: 635px; // 1440 * 0.44 = 633px
      aspect-ratio: 635 / 731; // подставь реальные пропорции

      background-image: url("/images/drainage-hero.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 689px;
    width: 100%;

    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 46px;
    }
  }

  &__header {
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-bottom: 68px;
  }
}

@media screen and (max-width: 768px) {
}
