@use "./globals.scss" as *;

.drainage {
  padding: 87px 41px;
  display: flex;
  justify-content: flex-end;
  background: url(/images/drainage-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 86px;
  border-radius: 30px;
  overflow: hidden;

  &__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 66px;

      width: 40vw;
      max-width: 635px;
      aspect-ratio: 635 / 731;

      background-image: url("/images/drainage-hero.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 689px;
    width: 100%;

    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 46px;
    }
  }

  &__header {
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-bottom: 68px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 120px;

  h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 80px;
    line-height: 100%;
  }

  &__content {
    display: flex;
    gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 26px;
    background: rgba(237, 231, 217, 1);
    border-radius: 20px;
    color: rgba(15, 15, 15, 1);

    &--contrast {
      background-color: rgba(143, 33, 45, 1);
      color: white;
    }

    &--image {
      height: 219px;
      overflow: hidden;
      border-radius: 20px;
      transform-origin: bottom left;
    }

    &__text {
      padding-bottom: 46px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 341px;
      margin: 0 20% 0 10%;
      &--title {
        font-family: var(--font-balkara);
        font-size: 36px;
        font-weight: 400;
      }

      &--description {
        font-size: 16px;
        font-weight: 300;
      }
    }

    &__price {
      max-width: 341px;
      margin: 26px 20% 0 10%;
      display: flex;
      flex-direction: column;
      gap: 6px;

      p {
        font-size: 20px;
        font-weight: 300;
      }

      .price {
        font-size: 36px;
        font-weight: 700;
      }
    }

    &__char {
      max-width: 341px;
      margin: 26px 20% 0 10%;
      display: flex;
      flex-direction: column;
      gap: 6px;

      p {
        font-size: 20px;
      }
    }
    &__btns {
      margin-top: 43px;
      display: flex;
      gap: 8px;
      margin-left: 9%;
    }
  }
}

@media screen and (max-width: 768px) {
}
