.contacts {
  margin-top: 46px;

  .logo-mobile {
    display: none;
  }

  &__content {
    position: relative;
  }

  &__block {
    position: absolute;
    bottom: 0;
    left: 140px;
    right: 140px;
    background: rgba(237, 231, 217, 1);
    box-shadow: 0px 4px 20px 0px rgba(7, 5, 24, 0.05);
    backdrop-filter: blur(9.832073211669922px);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    padding: 46px 172px 46px 46px;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
        color: rgba(143, 33, 45, 1);
        font-size: 80px;
      }

      address {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: rgba(34, 34, 34, 1);

        a {
          color: rgba(34, 34, 34, 1);
        }

        p {
          font-size: 22px;
        }
      }
    }
  }

  &__company-name {
    font-size: 36px !important;
    font-weight: 700;
  }

  &__telegram {
    p {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    .logo-mobile {
      display: block;
    }
    &__content {
      max-width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -150px;

      &__decorative-image {
        width: 200%;
        height: 100%;
      }
    }

    &__block {
      width: 90vw;
      padding: 36px 30px;
      left: auto;
      right: auto;

      &__left {
        gap: 28px;
        h1 {
          font-size: 28px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        address {
          p {
            font-size: 15px;
          }
        }
      }

      &__right {
        display: none;
      }
    }

    &__company-name {
      font-size: 20px !important;
    }

    &__telegram {
      display: flex;
      gap: 16px;
      align-items: center;
      p {
        display: block;
        font-size: 15px;
      }
    }
  }
}
