.projects {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-left: 80px;

  &__left {
    max-width: 386px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__right {
    max-width: 1100px;
  }

  &__count {
    font-size: 180px;
    line-height: 186px;
    font-weight: 400;
    font-family: var(--font-balkara);
    margin-bottom: 60px;
  }

  &__text {
    font-size: 22px;
    font-weight: 300;
  }

  &__btns {
    &--slider {
      margin-top: 156px;
      display: flex;
      gap: 16px;
    }
  }

  .slider {
    position: relative;
    width: 100%;
    max-width: 1010px;
    height: 100%;

    .swiper {
      width: 100%;
      height: 100%;

      &-wrapper {
        height: auto;
      }

      &-slide {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .projects__slide__wrapper {
          display: flex;
          height: 370px;
          align-items: center;
        }
        .projects__slide--image {
          width: 241px;
          height: 275px;
        }

        &-active {
          .projects__slide__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 417px;
            height: 512px;
          }

          .projects__slide--image {
            height: 436px;
            width: 100%;
          }
          .projects__slide__text {
            display: flex;
          }
        }

        &-next {
          justify-content: center;
          .projects__slide__wrapper {
            width: 304px;
            height: 436px;
            display: flex;
            align-items: flex-end;
          }
          .projects__slide--image {
            width: 304px;
            height: 337px;
          }
        }
      }
    }

    &__arrow {
      z-index: 10;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 1);
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__slide {
    &--image {
      overflow: hidden;
      border-radius: 20px;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      display: none;
      flex-direction: column;
      gap: 8px;

      &--title {
        font-size: 18px;
        font-weight: 700;
      }

      &--description {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    padding-left: 20px;
    flex-direction: column;
    margin-top: 46px;
    margin-left: 0;
    &__count {
      font-size: 120px;
      line-height: 120px;
      margin-bottom: 14px;
    }

    &__left {
      margin-bottom: 36px;
    }

    &__text {
      font-size: 15px;
      max-width: 260px;
    }

    &__btns--slider {
      display: none;
    }

    .slider .swiper-slide-next .projects__slide--image {
      height: 436px;
      width: 100%;
    }

    .slider .swiper-slide-active {
      .projects__slide__wrapper {
        position: relative;
        height: auto;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 98.56%
          );
          pointer-events: none;
          border-radius: 20px;
        }
      }

      .projects__slide__text {
        position: absolute;
        bottom: 28px;
        left: 28px;
        z-index: 2;
      }
    }
  }
}
